.button {
  display: inline-block;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;

  padding: 18px 44px 18px 44px;

  vertical-align: middle;
  text-align: center;

  background-color: #b84956;
  border: none;
}

.button--disign {
  color: #000000;

  background-color: #f9f5f7;
}

@media (max-width: @tablet-width) {
  .button {
    display: inline-block;

    font-size: 18px;
    line-height: 22px;
  }
}
