.gallery {
  display: flex;
  flex-wrap: wrap;

  width: 1600px;
  margin: auto;
  padding-bottom: 64px;
}


.gallery__image-link {
  line-height: 0;

  padding-right: 46px;

  &:last-of-type {
    padding-right: 0;
  }
}

.gallery__toggle {

  margin-top: auto;
  margin-bottom: auto;


  &:first-of-type {
    margin-right: 28px;
  }

  &:last-of-type {
    margin-left: 28px;
  }
}
