.moby {
  color: #ffffff;
  text-align: center;

  min-height: 1000px;
  margin-top: -81px;

  background-image: url("../img/background-moby.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.moby__wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 223px;
}

.moby__title {
  font-size: 288px;
  line-height: 351px;
  font-weight: bold;

  margin: 0;
}

.moby__description {
  font-size: 24px;
  line-height: 29px;

  margin: 0;
  margin-top: -175px;
  padding: 135px 15px 90px 15px;

  background-color: fade(#252525, 80%);
}

.moby__calculation {
  margin-top: -35px;
}

@media (max-width: @tablet-width) {
  .moby {
    min-height: 625px;
    margin-top: -55px;

    background-image: url("../img/background-moby-tablet.jpg");
  }

  .moby__wrapper {
    width: 625px;
    padding-top: 138px;
  }

  .moby__title {
    font-size: 180px;
    line-height: 219px;
  }

  .moby__description {
    font-size: 16px;
    line-height: 20px;

    margin-top: -110px;
    padding: 75px 15px 60px 15px;
  }

  .moby__calculation {
    font-size: 14px;
    line-height: 17px;

    padding: 12px 17px 11px 17px;
  }
}

@media (max-width: @tablet-min-width) {
  .moby {
    min-height: 375px;
    margin-top: -40px;

    background-image: url("../img/background-moby-tablet-min.jpg");
  }

  .moby__wrapper {
    width: 375px;
    padding-top: 83px;
  }

  .moby__title {
    font-size: 110px;
    line-height: 134px;
  }

  .moby__description {
    font-size: 12px;
    line-height: 15px;

    margin-top: -65px;
    padding: 45px 15px 25px 15px;
  }

  .moby__calculation {
    font-size: 12px;
    line-height: 15px;

    padding: 8px 14px 7px 14px;
    margin-top: 21px;
  }
}

@media (max-width: @mobile-width) {
  .moby {
    min-height: 414px;
    margin-top: -113px;

    background-image: url("../img/background-moby-mobile.jpg");
  }

  .moby__wrapper {
    width: 240px;
    padding-top: 135px;
  }

  .moby__title {
    font-size: 75px;
    line-height: 91px;
  }

  .moby__description {
    margin-top: -45px;
    padding: 40px 5px 30px 5px;
  }

  .moby__calculation {
    font-size: 14px;
    line-height: 17px;

    padding: 12px 37px 11px 37px;
  }
}
