.page-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  line-height: 22px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: @tablet-width) {
  .page-header {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: @mobile-width) {
  .page-header {
    flex-direction: column;
    padding-top: 16px;
  }
}
