.price {
  background-color: #f9f6f7;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;

  margin: auto;
  padding-top: 60px;
}

.price__advantages {
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  margin: auto;
  padding-bottom: 50px;
}

.price__advantage-wrapper {
  position: relative;

  width: 400px;
  text-align: center;

  // margin: auto;
  // padding-top: 230px;
}

.price__icon-desktop {
  padding-bottom: 29px;
}

.price__icon-tablet {
  display: none;
}

.price__icon-tablet-min {
  display: none;
}

.price__slogan {
  display: block;

  font-size: 30px;
  line-height: 37px;

  padding-bottom: 10px;
}

.price__button {
  margin: auto;
  margin-bottom: 60px;
  padding-left: 49px;
  padding-right: 49px;
}

.price__button-highlight {
  display: block;

  font-size: 24px;
  line-height: 29px;
  padding-bottom: 10px;
}

.price__button-footnote {
  font-weight: normal;
}

.price__button-footnote--weight {
  font-weight: 600;
}

@media (max-width: @tablet-width) {
  .price__wrapper {
    width: 540px;
    padding-top: 39px;
  }

  .price__advantages {
    font-size: 16px;
    line-height: 20px;

    padding-bottom: 40px;
  }

  .price__advantage-wrapper {
    width: 230px;
  }

  .price__icon-desktop {
    display: none;
  }

  .price__icon-tablet {
    display: block;
    margin: auto;
    padding-bottom: 18px;
  }

  .price__slogan {
    font-size: 18px;
    line-height: 22px;
}

  .price__button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
}

  .price__button-highlight {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 0;
  }

  .price__button-footnote {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: @tablet-min-width) {
  .price__wrapper {
    width: 514px;
    padding-top: 22px;
  }

  .price__advantages {
    font-size: 12px;
    line-height: 15px;

    padding-bottom: 26px;
  }

  .price__advantage-wrapper {
    width: 250px;
  }

  .price__icon-tablet {
    display: none;
  }

  .price__icon-tablet-min {
    display: block;
    margin: auto;
    padding-bottom: 11px;
  }

  .price__slogan {
    font-size: 14px;
    line-height: 17px;
  }

  .price__button {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 25px;
}

  .price__button-highlight {
    font-size: 14px;
    line-height: 17px;
  }

  .price__button-footnote {
    display: inline-block;
    font-size: 10px;
    line-height: 12px;

    width: 240px;
  }
}

@media (max-width: @mobile-width) {
  .price__wrapper {
    width: 250px;
  }

  .price__advantage-wrapper--gaurantee {
    order: 2;
  }

  .price__advantage-wrapper--maket {
    order: 1;
  }

  .price__button {
    order: 3;
  }

  .price__button-footnote {
    display: inline-block;
    font-size: 10px;
    line-height: 12px;

    width: 190px;
  }
}
