.section-slogan {
  display: block;
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;

  margin: 0 auto;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

.section-slogan--price {
  padding-bottom: 20px;
}

.section-slogan--gallery {
  width: 700px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 60px;
  padding-left: 500px;
  padding-right: 500px;
}

.section-slogan--disign {
  width: 680px;
  padding-bottom: 63px;
}
