.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  width: 30px;
  height: 30px;

  padding-right: 18px;
}

.social__item:nth-last-child(-n+2) {
  padding-right: 33px;
}

.social__item--vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.social__item--instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social__telephone {
  color: #ffffff;
  font-size: 18px;
}
