.modal-form {
  padding-left: 53px;
}

.modal-form__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;

  padding-bottom: 30px;
}

.modal-form__fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.modal-form__list {
  display: flex;
  justify-content: space-between;

  width: 970px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-form__label {
  position: relative;

  display: block;

  padding-left: 36px;

  &::before {
    position: absolute;

    content: "";

    left: 0;
    top: 2px;

    width: 24px;
    height: 24px;

    background-color: #f9f5f7;
    border: 1px solid #b84956;
    border-radius: 50%;
  }
}

.modal-form__input:checked ~ .modal-form__label::after {
  position: absolute;

  content: "";

  left: 7px;
  top: 9px;

  width: 12px;
  height: 12px;

  background-color: #b84956;
  border-radius: 50%;
}

.modal-form__button {
  margin-top: 35px;
}

@media (max-width: @tablet-width) {
  .modal-form {
    padding-left: 99px;
  }

  .modal-form__list {
    flex-wrap: wrap;

    width: 487px;
  }

  .modal-form__item {
    margin-bottom: 27px;
  }

  .modal-form__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: @mobile-width) {
  .modal-form {
    padding-left: 32px;
  }

  .modal-form__list {
    width: 220px;
    margin-bottom: 41px;
  }

  .modal-form__title {
    font-size: 18px;
    line-height: 24px;

    width: 175px;
    padding-bottom: 4px;
  }

  .modal-form__item {
    margin-bottom: 25px;
  }

  .modal-form__item:nth-last-child(-n+2) {
    margin-bottom: 25px;
  }

  .modal-form__item:last-child {
    margin-bottom: 0;
  }

  .modal-form__list {

  }

  .modal-form__button {
    margin-top: 0;
  }
}
